header 
{
    width: 1000px;
    height: 100px;
   /* background: red;*/
    margin: auto;
    border: 5px double;
}
header div
{
    margin: auto;
    font-size: 60px;
    text-align: center;
}

header nav a
{
    font-size: 30px;
    text-align: center;
     border: 5px double;
}

header nav
{
    margin: auto;
    background: blue;
}